name: Economic Time App CI
on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  prerequisites:
    runs-on: self-hosted

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: 'maven'
  
  build:
    runs-on: self-hosted
    needs: prerequisites
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: 'maven'
    - name: Build war
      run: mvn clean package
    - name: Upload war artifact
      uses: actions/upload-artifact@v4
      with:
        name: economic-times-app
        path: target/*.war
  
  run:
    runs-on: self-hosted
    needs: build
    steps:
    - name: Download war artifact
      uses: actions/download-artifact@v4
      with:
        name: economic-times-app
        path: ./war
    
    - name: Install Tomcat
      run: |
        wget https://archive.apache.org/dist/tomcat/tomcat-10/v10.1.30/bin/apache-tomcat-10.1.30.tar.gz
        tar -xzf apache-tomcat-10.1.30.tar.gz
        mv apache-tomcat-10.1.30 tomcat10
        chmod +x tomcat10/bin/*.sh

    - name: Deploy war to Tomcat
      run: |
        cp ./war/*.war tomcat10/webapps/
        nohup tomcat10/bin/startup.sh &
        sleep 10
        
    - n
